* {
  box-sizing: border-box;
}
*::before,
*after{
  box-sizing: inherit;
}
body{
  padding: 0;
  margin: 0;
  font-family: "Product Sans", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #222;
  font-weight: normal;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: (0 0 0 0);
  overflow: hidden;
}
.container {
  width: 1148px;
  padding: 0 24px;
  margin: auto;
}

.site-header {
  display: flex;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1)
}
.site-menu {
  display: flex;
  align-items: center;
  justify-content: space-between
}
.sitenav {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
}

.nav-item {
  list-style-type: none;
  margin-right: 32px;
}
.nav-link {
  text-decoration: none;
  color: #000;
}
.blue-button {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  padding: 8px 16px;
  background-color: #00BAFC;
  border-radius: 5px;
  border: none;
  outline: none;
}
.promo {
  margin: 95px 0;
  display: flex;
  justify-content: space-between;
}
.divider {
  width: 300px;
  height: 3px;
  background-color: #eee;
  border: none;
}
.promo-text-wrapper {
  width: 465px;
}
.promo-heading {
  font-weight: bold;
  font-size: 30px;
  line-height: 130%;
}
.promo-txt {
  font-size: 16px;
  line-height: 24px;
}

.promo-video {
  border-radius: 5px;
}
/* SERVICES */
.services {
  justify-content: center;
}
.services-promo-txt {
  width: 719px;
  text-align: center;
  margin: auto;
}
.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.service {
  list-style-type: none;
  text-align: center;
  width: 320px;
  padding:  24px 55px;
  margin: 15px;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;   
}
.service img {
  justify-content: center;
}
.service-name {
  margin: 16px;
}
.service-info {
  margin: 6px 0;
}